@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


/* Styles for general elements */
* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    --textGold: #dd9219;
    --textBlueBold: #0160A3;
    --backgroundBlue: #31A2BC;
    --whiteGeneral: white;
}

.btnGQ {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 20px;
    right: 20px;
    background-color: var(--textGold);
    color: var(--whiteGeneral);
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 1px 10px rgba(0, 0, 0,0.3);
    z-index: 100;
}

.btnGQ:hover{
    text-decoration: none ;
    color:var(--textBlueBold);
    background-color: var(--whiteGeneral);
}