@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    --textGold: #dd9219;
    --textBlueBold: #0160A3;
    --backgroundBlue: #31A2BC;
    --whiteGeneral: white;
}

main {
    margin-top: 80px;
}
.containFatherForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, hsl(205.28deg 95.21% 32.75%), hsl(190.22deg 100% 35.69%));
}

.containForm {
    display: flex;
    flex-direction: column;
    padding: 28px 13px;
    border: 1px solid rgb(183, 183, 183);
    margin: 40px 0;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 6px 0px black;
    background-color: var(--whiteGeneral);
    color: var(--textBlueBold);
  }
  .labelForm{
    margin: 5px 0;
    font-weight: 500;
    cursor: pointer;
  }
  
  .inputForm, .selectService{
    border: 1px solid rgb(190, 188, 188);
    border-radius: 0.2rem;
    height: 30px;
    width: 340px;
  }
  #message {
    height: 200px;
  }
  .selectService{
    margin-bottom: 20px;
  }
  
  .containButtos {
    margin: 20px 40px;
    display: flex;
    justify-content: space-around;
  }
  
  .buttonOneGQ,
  .buttonTwoGQ {
    height: 3rem;
    width: 6rem;
    background-color:var(--textGold);
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 0.4rem;
    cursor: pointer;
  }
  .buttonOneGQ:hover,
  .buttonTwoGQ:hover {
    background-color: var(--textBlueBold);
  }
  .bi{
  font-size: 25px; 
  }
