@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    --textGold: #dd9219;
    --textBlueBold: #0160A3;
    --backgroundBlue: #31A2BC;
    --whiteGeneral: white;
}

main {
    margin-top: 80px;
}

.containerSectionForm,.formGQ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerForm{
    width: 400px;
}

.inputGQ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding-top: 20px;
    margin-top: 10px;

}