@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


/* Styles for general elements */
* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    --textGold: #dd9219;
    --textBlueBold: #0160A3;
    --backgroundBlue: #31A2BC;
    --whiteGeneral: white;
}

body {
    background-color: #f3f3f3;
}

main {
    margin-top: 80px;
}

.containFatherFormRe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containImgRCel {
    height: 304px;
    width: 100%;
    background-image: url(../img/men_cel_R.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.titleH1Re {
    font-size: 46px;
    color: var(--textGold);
    font-weight: 800;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.textH1Re {
    text-align: center;
    font-size: 20px;
    padding: 30px 16px;
    color: var(--textBlueBold);
}

.containFormRe {
    display: flex;
    flex-direction: column;
    padding: 28px 13px;
    box-shadow: 0px 0px 4px 0px black;
    border-radius: 0.5rem;
    background-color: var(--whiteGeneral);
    color: var(--textBlueBold);
    margin: 0 3% 10px;
}

.labelFormRe {
    color: var(--textBlueBold);
    margin: 5px 0;
    font-weight: 700;
    cursor: pointer;
}

.inputFormRe {
    border: 1px solid rgb(190, 188, 188);
    border-radius: 0.2rem;
    height: 30px;
}

.textAlreadry {
    color: var(--textBlueBold);
    text-align: center;
    padding: 10px 0 20px;
    font-weight: 600;
}

.loginRe {
    color: var(--textGold);
}

.containButtosRe {
    margin: 0 40px;
    display: flex;
    justify-content: space-around;
}

.buttonOneRe,
.buttonTwoRe {
    height: 3rem;
    width: 6.5rem;
    background-color: var(--textGold);
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 0.4rem;
    cursor: pointer;
}

.buttonOneRe:hover,
.buttonTwoRe:hover {
    background-color: var(--textBlueBold);
}

@media screen and (min-width: 768px) {

    .containFatherFormRe {
        flex-direction: row;
        justify-content: end;
        align-items: end;
    }

    .containImgRCel {
        display: none;
    }

    .containImgRPc {
        height: 466px;
        width: 80%;
        background: url(../img/PESTANA_REGISTRO_NEGRIT.png) no-repeat right / contain;
    }

    .containFormH1 {
        padding: 20px;
        width: 80%;
    }

    .containFormRe {
        margin: 0;
    }

    .titleH1Re {
        line-height: 1;
        font-size: 42px;
    }

    .textH1Re {
        padding: 11px 16px;
    }

}
@media screen and (min-width: 1024px){
    
}