@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


/* Styles for general elements */
* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    --textGold: #dd9219;
    --textBlueBold: #0160A3;
    --backgroundBlue: #31A2BC;
    --whiteGeneral: white;
}

main {
    margin-top: 90px;
}

.containFatherFormRe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.containFormRe {
    display: flex;
    flex-direction: column;
    padding: 28px 13px;
    width: 380px;
}

.containPrueba {
    position: relative;
}

.bi-envelope-fill,
.bi-lock-fill, 
.bi-check-square-fill {
    color: var(--textGold);
    position: absolute;
    top: calc(50%);
    left: 15px;
}
.inputFormRe {
    border: 1px solid rgb(190, 188, 188);
    border-radius: 0.8rem;
    height: 30px;
    padding: 25px 0 25px 40px;
    width: 100%;
    margin-top: 20px;
}
.inputFormRe:focus {
    outline-color: var(--textGold);
}

.textAlreadry {
    color: var(--textBlueBold);
    text-align: center;
    padding: 10px 0 20px;
    font-weight: 600;
}

.loginRe {
    color: var(--textGold);
}

.containButtosRe {
    margin: 0 40px;
    display: flex;
    justify-content: space-around;
}

.buttonOneRe {
    height: 3rem;
    width: 7rem;
    background-color: var(--textGold);
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 0.4rem;
    cursor: pointer;
}

.buttonOneRe:hover,
.buttonTwoRe:hover {
    background-color: var(--textBlueBold);
}

@media screen and (min-width: 768px) {

    .containFormRe {
        margin: 0;
    }

}

@media screen and (min-width: 1024px) {

    .containFatherFormRe {
        justify-content: center;
    }

    .containFormH1 {
        width: 400px;
    }

}