@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


/* Styles for general elements */
* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    --textGold: #dd9219;
    --textBlueBold: #0160A3;
    --backgroundBlue: #31A2BC;
    --whiteGeneral: white;
}

main {
    margin-top: 70px;
}

.imgLogo{
    height: 250px;
    width: 250px;
}
.carousel{
    background-color: rgb(91, 91, 91);
}


.containH1Se {
    position: relative;
    text-align: center;
    padding: 70px 0;
}

.containH1Se::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(0.4);
    z-index: -1;
}

.titleH1Se {
    color: var(--whiteGeneral);
    font-size: 75px;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.textH1Se {
    color: var(--whiteGeneral);
    font-size: 20px;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.sectionTwoGeneral {
    margin: 40px 0;
}

.containFatherSe {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr;
    gap: 20px;
}

.cardGeneral,
.cardImgGeneral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cardGeneral {
    margin-bottom: 70px;
}

.ImgBox {
    border: 10px solid var(--textBlueBold);
    border-radius: 100%;
    width: 250px;
    height: 250px;
}

.titleCard {
    font-size: 25px;
    color: var(--textBlueBold);
    font-weight: 900;
    padding: 15px 0;
}

.textCard {
    text-align: center;
    padding: 10px 22px;
    font-size: 18px;
    color: rgb(88, 88, 88);
    font-weight: 300;
}

.buttonGetSe {
    height: 2.5rem;
    width: 10rem;
    font-weight: 600;
    color: var(--whiteGeneral);
    background-color: var(--textGold);
    border: none;
    border-radius: 0.3rem;
    margin-top: 30px;
    font-size: 18px;
}

.titleInPuff {
    padding: 60px 10px 20px;
    font-size: 60px;
    color: var(--textGold);
    font-weight: 900;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.containFatherInPuff,
.containInPuff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.containFatherInPuff {
    margin-bottom: 40px;
}

.imgInPuff {
    height: 160px;
    width: auto;
}

.textImgInPuff {
    font-size: 25px;
    font-weight: 600;
    padding: 0 84px;
    background: linear-gradient(to right, #009cb9, #0460a4);
    background-clip: text;
    color: transparent;
    text-align: center;

}

.titleWeHave {
    padding: 60px 10px 20px;
    font-size: 55px;
    color: var(--textBlueBold);
    font-weight: 900;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.textWeHave {
    font-size: 30px;
    color: var(--textGold);
    font-weight: 600;
    text-align: center;
    padding: 33px 33px;
}

.containFatherPas,
.containerCardPs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerCardPs {
    margin-bottom: 40px;
}

.imgPas {
    height: auto;
    width: 200px;
}

.textPas {
    text-align: center;
    font-size: 23px;
    color: var(--textBlueBold);
    font-weight: 600;
}

.NumPass {
    font-size: 40px;
}

.containLet {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--textGold);
}

.textLet {
    padding: 45px 13px 20px;
    font-size: 34px;
    text-align: center;
    color: var(--whiteGeneral);
}

.buttonLet {
    height: 3rem;
    width: 12rem;
    font-weight: 600;
    color: var(--textGold);
    background-color: var(--whiteGeneral);
    border: none;
    border-radius: 0.8rem;
    margin: 30px 0;
    font-size: 22px;
    cursor: pointer;
}
.buttonLet:hover{
    color: var(--textBlueBold);
}

@media screen and (min-width: 768px) {

    .containH1Se {
        padding: 50px 0;
    }

    .titleCard {
        text-align: center;
        font-size: 30px;
    }

    .titleH1Se {
        font-size: 130px;
    }

    .textH1Se {
        font-size: 34px;
    }

    .cardGeneral {
        margin-bottom: 0;
    }

    .containFatherSe {
        gap: 0;
        justify-content: center;
        row-gap: 70px;
        grid-template-columns: repeat(2, 350px);
        flex-wrap: wrap;
        margin-bottom: 70px;
    }

    .ImgBox {
        width: 300px;
        height: 300px;
        border: 18px solid var(--textBlueBold);
    }

    .box4 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .box8 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .containFatherInPuff {
        flex-direction: row;
        justify-content: space-evenly;
        margin: 40px 0 80px
    }

    .textImgInPuff {
        padding: 0;
    }

    .textWeHave {
        padding: 40px 159px;
    }

    .containFatherPas {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: end;
    }

    .containLet {
        margin-top: 80px;
    }
}

@media screen and (min-width: 1024px) {
    .titleH1Se {
        font-size: 160px;
    }

    .textH1Se {
        font-size: 40px;
    }

    .containFatherSe {
        grid-template-columns: repeat(2, 700px);
    }

    .ImgBox {
        width: 390px;
        height: 390px;
    }

    .textCard {
        font-size: 28px;

    }

    .titleCard {
        font-size: 40px;
    }

    .buttonGetSe {
        height: 3.5rem;
        width: 12rem;
        font-size: 23px;
    }

    .containFatherInPuff {
        margin: 40px 0 120px;
    }

    .titleInPuff {
        font-size: 90px;
    }

    .imgInPuff {
        height: 220px;
    }

    .textImgInPuff {
        font-size: 30px;
    }

    .titleWeHave {
        font-size: 90px;
    }

    .textWeHave {
        font-size: 40px;
    }
    .imgPas{
        width: 300px;
    }
    .textPas{
        font-size: 35px;
    }
    .containLet{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .textLet{
        font-size: 40px;
        padding: 5% 0;
    } 
    .buttonLet{
    height: 4rem;
    width: 14rem;
    }

}