@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


/* Styles for general elements */
* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    --textGold: #d48f21;
    --textBlueBold: #0160A3;
    --backgroundBlue: #31A2BC;
    --whiteGeneral: white;
}

/* First section: h1, reference image, and form */

.sectionOne {
    background: linear-gradient(to right, hsl(205.28deg 95.21% 32.75%), hsl(190.22deg 100% 35.69%));
    text-align: center;
}

h1 {
    font-size: 65px;
    color: white;
    font-weight: 600;
    line-height: 0.5;
    padding: 30px 30px 0;
}

.spanOne {
    font-size: 30px;
    font-weight: 600;
}

.containTextH1 {
    width: 200px;
}

.textH1 {
    color: var(--textGold);
    text-decoration: underline 5px;
    font-size: 60px;
    font-weight: 600;
    padding: 15px 0 20px;


}

/* Form styles */

.containFatherForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}


.formLogin {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-color: var(--whiteGeneral);
    padding: 27px;
    border-radius: 1rem;
    width: 90%;
    color: var(--textBlueBold);
    box-shadow: 0px 0px 6px 0px black;
}

.containerRemember {
    display: flex;
    flex-direction: row-reverse;
}

.containerButtonLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
}

.LoginForm {
    padding-bottom: 16px;
    font-size: 25px;
    font-weight: 900;
}

.labelForm {
    padding: 10px 0;
}


/* Styles for input, buttons, and link */

.inputForm {
    width: 100%;
    height: 2.5rem;
    border-radius: 0.8rem;
    border: 1px solid #939393;
    padding-left: 20px;
}

.buttonLogin,
.buttonBook,
.buttonGetAfree {
    width: 13rem;
    height: 3.3rem;
    background-color: var(--textGold);
    color: var(--whiteGeneral);
    border-radius: 0.4rem;
    border: none;
    font-weight: 600;
    font-size: 18px;
}

.register {
    text-decoration: none;
    color: var(--textBlueBold);
    padding: 15px 0 0;
}

/* Second section: h2, step-by-step images */

.containerH2 {
    text-align: center;
    padding: 4rem 0;
    color: var(--textBlueBold);
    font-weight: 900;
}

.titleH2 {
    font-size: 50px;
}

.textH2 {
    font-weight: 600;
    font-size: 18px;
}

.containerDescription {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: stretch;
}

.containImgDescrip {
    display: flex;
    flex-direction: column;
}

.imgStepbyStep {
    height: 130px;
    width: 130px;
}

.containListFather {
    display: flex;
}

.containList {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    list-style: none;
    padding: 0;
    justify-content: space-around;
    align-items: start;
}

.StepbyStep {
    text-align: center;
    font-size: 20px;
    color: var(--textBlueBold);
    font-weight: 600;
}

.numberDescription {
    font-size: 50px;
}

.containButtonBook {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

/* third section */

.containFatherThree,
.contaFatheSectionThree,
.containerFatherManSorprise {
    background-color: var(--backgroundBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Man_sorpraise {
    height: auto;
    width: 380px;
    padding: 56px 0 0;
}

.containFatherThree {
    color: var(--whiteGeneral);
    font-weight: 600;

}

.textManSorpraise,
.textManSorpraiseThree {
    font-size: 23px;
}

.textManSorpraiseTwo {
    font-size: 60px;
    line-height: 0.9;
    font-weight: 800;
}

.listMainSorpraise {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--whiteGeneral);
    padding: 15px 0;
}

.containeListManSorprise {
    padding: 35px 0;
}

.buttonGetAfree {
    margin-bottom: 40px;
}

/* Fourth section, comments */

.contaFatheSectionFour {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.tittleComments,
.textComments {
    font-size: 45px;
    color: var(--textBlueBold);
    font-weight: 600;
    text-align: center;
}

.textComments {
    text-decoration: underline 5px var(--textGold);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    background-color: var(--backgroundBlue);
}
.logoFooter {
    height: 10rem;
    width: auto;
    margin: 40px 0 20px;
}

.bi-facebook,
.bi-instagram,
.bi-linkedin {
    color: var(--whiteGeneral);
    font-size: 30px;
    padding: 0 10px;
}

.containerFatherInfo{
    margin: 20px 0;
}


.containInfoEmail,
.containInfoLocation,
.containInfoPhone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.bi-envelope,
.bi-geo-alt-fill,
.bi-telephone-fill{
    color: var(--whiteGeneral);
    font-size: 25px;
}

.textEmail,
.textLocation,
.textPhone{
    color: var(--whiteGeneral);
    padding-left: 15px;
    font-size: 18px;
    font-weight: 300;
}

.copyRight{
    margin: 10px;
    color: var(--whiteGeneral);
    font-size: 10px;
}